h1, h2 {
  text-transform: uppercase; 
}
body {
  text-align: center;
  margin: 0; /* remove default margin */
}
h1 {
  font-family: "Raleway", sans-serif;
  color: #0D2C40; /* Dark green */
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0; /* header h1 takes up too much space */
}

.more-info {
  font-family: "Raleway", sans-serif;
  color: #F15B31; /* red */
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #0D2C40; /* Dark Green */
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: "Droid Serif", serif;
  line-height: 26px;
  font-size: 18px;
}

a {
  text-decoration: none;
}

header {
  background-color: #F15B31; /* red */
  color: #ffffff; /*  white */
  padding: 30px 20px;
}

nav {
  background-color: #00A6B3; /* coral green*/
  padding: 20px 0;
}

a {
  /* give anchors links more room btwn nav link */
  margin: 20px; 
}
/* wrapper element */
main {
  /* center main content: 1) set width, 2) margin auto */
  width: 850px;
  margin: 35px auto;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #0D2C40; /* black*/
  color: white;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
  /* stick footer to the bottom 
  http://jsfiddle.net/heggycastaneda/kutvzsp8/1/
  */
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding-bottom: 12px;
  overflow: hidden;
}

footer p {
  font-family: Raleway; /*google ext font*/
  /* margin-bottom: 0; */
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
  color: #F15B31;
  font-weight: 700;
}

a {
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid white;
}